@model Blog.Models.Post

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NovoPost</title>
</head>
<body>
    <div> 
        <form action="/Home/AdicionaPost" method="post">
            <label>
                Título: <input name="titulo" value="@Model.Titulo"/>
            </label>
            @Html.ValidationMessage("titulo")
            <label>
                Resumo: <input name="resumo" value="@Model.Resumo"/>
            </label>
            @Html.ValidationMessage("resumo")
            <label>
                Categoria: <input name="categoria" value="@Model.Categoria"/>
            </label>
            @Html.ValidationMessage("categoria")
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
