@model Blog.Models.Post

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NovoPost</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("AdicionaPost", "Post"))
        {
            @Html.LabelFor(p => p.Titulo)
            @Html.TextBoxFor(p => p.Titulo)
            @Html.ValidationMessageFor(p => p.Titulo)

            @Html.LabelFor(p => p.Resumo)
            @Html.TextBoxFor(p => p.Resumo)
            @Html.ValidationMessageFor(p => p.Resumo)

            @Html.LabelFor(p => p.Categoria)
            @Html.TextBoxFor(p => p.Categoria)
            @Html.ValidationMessageFor(p => p.Categoria)

            <button type="submit">Cadastrar</button>
        }
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
