@model Blog.Models.Post
<!DOCTYPE html>
<!-- Resto do html -->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visualiza</title>
</head>
<body>
    <div> 
        <form action="/Post/EditaPost" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <label>
                Título: <input name="titulo" maxlength="50" required value="@Model.Titulo" />
            </label>
            @Html.ValidationMessage("titulo")
            <label>
                Resumo: <input name="resumo" required value="@Model.Resumo" />
            </label>
            @Html.ValidationMessage("resumo")
            <label>
                Categoria: <input name="categoria" value="@Model.Categoria" />
            </label>
            @Html.ValidationMessage("categoria")
            <button type="submit">Cadastrar</button>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $("form").validate();
    </script>
</body>
</html>



