<aside>
    <h1>Administração</h1>
    <div>
        <ul>
            <li>@Html.ActionLink("Posts", "Index", "Post", new { area = "Admin" }, new { })</li>
            <li>@Html.ActionLink("Usuarios", "Index", "Usuario", new { area = "" }, new { })</li>
            <li>@Html.ActionLink("Adiciona Papel (Apenas role admin)", "Cria", "Role", new { area = "Admin" }, new { })</li>
            <li>@Html.ActionLink("Atribui papel a usuario (Apenas role admin)", "AdicionaAoUsuario", "Role", new { area = "Admin" }, new { })</li>
            <li>@Html.ActionLink("Logout", "Logout", "Usuario", new { area = "" }, new { })</li>
        </ul>
    </div>
</aside>
