@model IList<Blog.Models.Post>
<h2>Lista de Posts</h2>
@Html.ActionLink("Novo Post!", "Novo", null, new { @class = "btn btn-primary"})
<table class="table table-striped table-hover table-bordered">
    <caption>Lista dos posts cadastrados no blog.</caption>
    <thead>
        <tr>
            <th>Post</th>
            <th>Categoria</th>
            <th>Autor</th>
            <th>Publicado em</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var item in Model)
        {
            <tr>
                <td>
                    <h4>@Html.ActionLink(item.Titulo, "Edit", new { Id = item.Id })</h4>
                    <p>@item.Resumo</p>
                </td>
                <td>@item.Categoria</td>
                @if (item.Autor != null)
                {
                    <td>@item.Autor.UserName</td>}
                else
                {
                    <td>Sem autor</td>
                }
                <td>
                    @if (@item.Publicado)
                    {
                        @Html.Encode(item.DataPublicacao)
                    }
                    else
                    {
                        @Html.Raw("Não publicado")
                    }
                </td>
                <td>
                    @Html.ActionLink("Excluir", "Remove", new { Id = item.Id })
                    @Html.ActionLink("Publicar", "Publicar", new { Id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
